$primary-color: #C1DCDc;
$secondary-color: #FFFFFF;
$primary-text-color: #8e8e8e;
$font-stack: 'Poppins', sans-serif;
$font-logo: 'Quella', sans-serif;
$medium-weight: 500;

@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}
body {
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    font-family: $font-stack;
    overflow-x: hidden;
}
button {
    background: none;
    border-style: none;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: $primary-text-color;
}
p, h4, h2, h3 {
    margin: 0;
}

header {
    padding: 20px 46px;
    height: 50px;
    @include flexCenter(row, space-between, center);
    .left-navbar {
        width: 560px;
        height: auto;
        @include flexCenter(row, space-between, center);
        span {
            text-transform: uppercase;
            font-family: $font-logo;
            font-size: 2.6rem;
        }
        a {
            font-size: 1.8rem;
            font-weight: $medium-weight;
            letter-spacing: 1px;
            &:hover {
                color: #000000;
            }
        }
    }
    .right-navbar {
        width: 200px;
        @include flexCenter(row, space-between, center);
        button {
            width: 45px;
            height: 30px;
            cursor: pointer;
        }
        .menu {
            border-left-style: solid;
            width: 70px;  
        }
    }
}

main {
    width: auto; 
    height: auto;
    .hero {
        height: 440px;
        background-color: $primary-color;
        border-radius: 24px;
        margin: 0 46px;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        @include flexCenter(row, space-between, stretch);
        .hero-left {
            @include flexCenter(column, space-between, center);
            .info-wrapper {
                width: 420px;
                height: 220px;
                display: grid;
                justify-items: start;
                align-items: center;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: "title title"
                    "species customers";
                h1 {
                    font-size: 6.2rem;
                    font-weight: bolder;
                    line-height: 0.9;
                    letter-spacing: -2px;
                    margin: 0;
                    grid-area: title;
                }
                .species {
                    grid-area: species;
                    align-self: end;
                    height: 80px;
                    @include flexCenter(column, space-evenly, flex-start);
                    .number {
                        font-size: 3.2rem;
                        font-weight: $medium-weight;
                        span {
                            font-size: 2.8rem;
                        }
                    }
                    .text {
                        font-size: 1.8rem;
                        font-weight: $medium-weight;
                        
                    }
                }
                .customers {
                    @extend .species;
                    grid-area: customers;
                }
            }
            .search {
                height: 200px;
                padding: 50px 0;
                display: flex;
                position: relative;
                input {
                    width: 400px;
                    height: 26px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    padding: 15px;
                    font-size: 1.8rem;
                    z-index: 2;
                }
                button {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    z-index: 3;
                    position: absolute;
                    right: 10px;
                    top: 59px;
                    background-color: $primary-color;

                }
            }
        }
        .hero-right {
            position: relative;
            img {
                position: absolute;
                bottom: 0;
                right: -30px;
                z-index: 5;
            }
            .shapes {
                position: absolute;
                bottom: 0;
                right: 20px;
                width: 420px;
                height: 400px;
                background-color: #000000;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                border-bottom-left-radius: 50%;
                z-index: 1;
            }
        }
    }
    .market-section {
        margin: 0 46px;
        margin-top: 40px;
        width: auto;
        display: grid;
        grid-template-columns: 180px auto;
        grid-template-rows: auto;
        .product-container {
            padding: 20px;
            h2 {
                font-size: 2.2rem;
                font-weight: bold;
                line-height: 1;
            }
            p {
                color: $primary-text-color;
                padding: 15px 0;
                font-size: 1.3rem;
                line-height: 1;
            }
            button {
                cursor: pointer;
                width: 120px;
                height: 32px;
                background-color: $primary-color;
                border-radius: 8px;
                @include flexCenter(row, space-around, center);
                a {
                    color: #000000;
                    font-size: 1.4rem;
                    font-weight: $medium-weight;
                    img {
                        padding-left: 3px;
                    }
                }
            }
        }
        .card-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: end;
            align-items: center;
            .cards {
                width: 200px;
                height: 330px;
                img {
                    width: 100%;
                    height: auto;
                }
                h4 {
                    font-size: 1.8rem;
                    font-weight: $medium-weight;
                }
                span {
                    font-size: 1.7rem;
                    font-weight: $medium-weight;
                    color: $primary-text-color;
                }
            }
        }
    }
    .aboutus-section {
        margin: 0 46px;
        margin-top: 40px;
        width: auto;
        @include flexCenter(column, center, center);
        h2 {
            font-size: 2.7rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
        p {
            font-size: 1.8rem;
            font-weight: $medium-weight;
            color: $primary-text-color;
        }
        .service-container {
            margin: 40px;
            //width: 100%;
            height: 150px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 50px;
            .service-content {
                display: grid;
                justify-items: center;
                align-items: center;
                div {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: $primary-color;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                }
                h3 {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
                p {
                    font-size: 1.4rem;
                    font-weight: $medium-weight;
                    color: $primary-text-color;
                    text-align: center;
                    line-height: 1.2;
                }
            }
        }
    }
    .categories-section {
        margin-top: 100px;
        width: auto;
        @include flexCenter(column, center, center);
        h2 {
            font-size: 2.7rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
        p {
            font-size: 1.8rem;
            font-weight: $medium-weight;
            color: $primary-text-color;
        }
        .content-wrapper {
            margin-top: 110px;
            background-color: $primary-color;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            .content-card {
                width: 240px;
                height: 500px;
                @include flexCenter(column, flex-end, center);
                position: relative;
                .img-plant {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                .left-edge, .right-edge {
                    position: absolute;
                    top: -90px;
                }
                h4 {
                    font-size: 1.7rem;
                    letter-spacing: 1.5px;
                }
                .description-content {
                    position: absolute;
                    bottom: 210px;
                    text-align: center;
                }
            }
            .middle-edge {
                margin: 25px 0;
                justify-content: space-between;
                p {
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 1;
                }
                button {
                    @include flexCenter(row, center, center);
                    width: 150px;
                    height: 40px;
                    border-radius: 8px;
                    background-color: #FFFFFF;
                    a {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: #000000;
                        img {
                            padding-left: 7px;
                        }
                    }    
                }
            }
        }
    }
    .testimonial-section {
        margin: 60px 46px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 150px 1fr;
        h2 {
            font-size: 3.2rem;
            font-weight: bold;
            letter-spacing: 1.5px;
        }
        .testimonial-card__container {
            display: flex;
            justify-content: space-around;
            .card-testimonial {
                max-width: 850px;
                width: 550px;
                padding: 45px 30px 0 30px;
                background-color: $primary-color;
                border-radius: 12px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                grid-template-areas: "text text"
                "person ranking";
                p {
                    grid-area: text;
                    font-size: 1.8rem;
                    font-weight: $medium-weight;
                }
                .person-container {
                    grid-area: person;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: auto;
                    grid-template-areas: "photo name"
                        "photo career";
                    img {
                        grid-area: photo;
                    }
                    h3 {
                        grid-area: name;
                        align-self: flex-end;
                        font-size: 2.3rem;
                        font-weight: bold;
                    }
                    span {
                        grid-area: career;
                        font-size: 1.6rem;
                        color: $primary-text-color;
                        letter-spacing: 1px;
                    }
                }
                .ranking-container {
                    padding: 50px;
                    grid-area: ranking;
                    @include flexCenter(row, flex-end, center);
                    img {
                        width: 25px;
                        height: 25px;
                    }
                    p {
                        font-size: 2.3rem;
                        font-weight: 800;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 150px;
    background-color: $primary-color;
    width: 100%;
    height: auto;
    @include flexCenter(row, space-between, center);
    .footer-left, .footer-right {
        padding: 20px 35px;
    }
    .footer-left {
        width: 200px;
        margin-left: 40px;
        position: relative;
        h4 {
            font-family: $font-logo;
            font-size: 1.8rem;
            font-weight: $medium-weight;
            margin-bottom: 15px;
        }
        p {
            color: $primary-text-color;
            margin-bottom: 35px;
            margin-right: 45px;
            font-size: 1.4rem;
            line-height: 1;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            button {
                cursor: pointer;
                width: 50px;
                height: 50px;
                border: 1px solid;
                border-color: $primary-text-color;
                border-radius: 50%;
            }
        }
        .rights {
            position: absolute;
            font-size: 0.8rem;
            bottom: -50px;
        }    
    }
    .footer-right {
        width: 450px;
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .left, .middle, .right {
            height: 70%;
            display: grid;
            align-items: end;
            h3 {
                margin-bottom: 10px;
                font-size: 1.6rem;
            }
        }
        .link-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            a {
                font-size: 1.4rem;
            }
        }
    }
}